{% load static %}
<!-- ========== Meta Tags ========== -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Agrica - Organic Farm Agriculture Template">

<!-- ========== Page Title ========== -->

<!-- ========== Favicon Icon ========== -->
<link rel="shortcut icon" href="{% static 'home/img/favicon.png' %}" type="image/x-icon">

<!-- ========== Start Stylesheet ========== -->
<link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'home/css/flaticon-set.css' %}" rel="stylesheet">
<link href="{% static 'home/css/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/validnavs.css' %}" rel="stylesheet">
<link href="{% static 'home/css/helper.css' %}" rel="stylesheet">
<link href="{% static 'home/css/unit-test.css' %}" rel="stylesheet">
<link href="{% static 'home/css/shop.css' %}" rel="stylesheet">
<link href="{% static 'home/css/style.css' %}" rel="stylesheet">
<!-- ========== End Stylesheet ========== -->